<h1 style="margin-left: 25px;">Reactive-Form Woks !</h1>
<h1 style="margin-left: 25px;">Two Way Data Binding</h1>

<form [formGroup]="signinForm" (ngSubmit)="register()">

    <label class="label" style="margin-left: 25px;" for="name">Name: </label>
    <input style="margin-left: 25px;" id="name" type="text" [formControl]="name">
    <br>

    <label class="label" style="margin-left: 25px;" for="userName">User Name : </label>
    <input style="margin-left: 25px;" id="userName" size="35" type="text" [formControl]="userName">
    <br>

    <label class="label" style="margin-left: 25px;" for="userEMail">User E-Mail : </label>
    <input style="margin-left: 25px;" id="userEMail" size="35" type="text" [formControl]="userEMail">
    <br>

    <p style="margin-left: 25px; font-weight: bold;">Form userName: {{userName | json}}</p>
    <p style="margin-left: 25px; font-weight: bold;">Form userEMail: {{userEMail}</p> 


    <p style="margin-left: 35px; font-weight: bold; color:red">Buton Is Disabled Until The Form Is NOT Complete</p>
    <p style="margin-left: 35px; font-weight: bold; color:red">Complete the Form to Enable The Button.</p>

    <button 
        style="margin-left: 350px; 
            color:blue; 
            border-color: black; 
            border-style:solid; 
            border-width: 3px;"
        type="submit" [disabled]="!signinForm.valid">Sign Up</button>
 </form>   