<h1 style="margin-left: 25px;">Reactive-Form Woks !</h1>
<h1 style="margin-left: 25px;">Two Way Data Binding</h1>

<form [formGroup]="signinForm" (ngSubmit)="register()">

    <p>
    <label class="label" style="margin-left: 25px;" for="name">Name: </label>
    <input style="margin-left: 25px;" id="name" type="text" [formControl]="name">
    </p>

    <p>
    <label class="label" style="margin-left: 25px;" for="userName">User Name : </label>
    <input style="margin-left: 25px;" id="userName" size="35" type="text" [formControl]="userName">
    </p>

    <p>
    <label class="label" style="margin-left: 25px;" for="userEMail">User E-Mail : </label>
    <input style="margin-left: 25px;" id="userEMail" size="35" type="text" [formControl]="userEMail">
    </p>

    <p style="margin-left: 25px; font-weight: bold;">Form userName: {{userName.value | json}}</p>
    <p style="margin-left: 25px; font-weight: bold;">Form userEMail: {{userEMail.value}</p> 


    <p style="margin-left: 150px; font-weight: bold; color:red">Buton Is Disabled Until The Form Is NOT Complete</p>
    <p style="margin-left: 150px; font-weight: bold; color:red">Complete the Form to Enable The Button.</p>

    <div>
        <button 
        style="margin-left: 350px; 
            color:blue; 
            border-color: black; 
            border-style:solid; 
            border-width: 3px;"
        type="submit" [disabled]="!signinForm.valid" (click)="register()">Sign Up</button>

    <button 
        style="margin-left: 350px; 
            color:blue; 
            border-color: black; 
            border-style:solid; 
            border-width: 3px;"
        type="button" (click)="updateName()">Update Name</button>
    </div>
 </form>   

 <!-- 
  NOT Working 
  The Form Status :
  {{signinForm.valid |json}}  
-->


