
<!-- ********************************************** -->
<!--  Check if we Have valid myDataBase myDatabase  -->
<!-- ********************************************** -->
<div *ngIf="myDatabase">

  <h1 style="margin-left: 25px; font-weight: bold;">Resto Alternate Real Solution !</h1>
  <h1 style="margin-left: 25px; font-weight: bold;">{{myDatabase.title}}</h1>

  <ul style="margin-left: 25px;">
    <li style="font-weight: bold;" *ngFor = "let category of myDatabase.data">
          {{category.title | uppercase}}
          <br>
          <div style="margin-left: 20px;">
            <ul>
              <li *ngFor = "let recette of category.recipes" (click)="addRecette(recette.title)">
                <span 
                   [ngStyle]="{'color': recette.title|quantity: form.value.recettes|color}"> {{recette.title}}
                   {{recette.title|quantity: form.value.recettes}}x
                </span>
            </ul>
          </div>
    </li>
  </ul>  
</div>


<!-- ********************************************** -->
<!--  Check if we Have valid myDataBase myDatabase  -->
<!-- ********************************************** -->
<div *ngIf="myDatabase">

  <h1 style="margin-left: 25px; font-weight: bold;">Resto Alternate Real Solution !</h1>
  <h1 style="margin-left: 25px; font-weight: bold;">{{myDatabase.title}}</h1>

  <ul style="margin-left: 25px;">
    <li style="font-weight: bold;" *ngFor = "let category of myDatabase.data">
          {{category.title | uppercase}}
          <br>
          <div style="margin-left: 20px;">
            <ul>
              <li *ngFor = "let recette of category.recipes" (click)="addRecette(recette.title)">
                <span 
                   [ngStyle]="{'color': recette.title|quantity: form.value.recettes|color}"> {{recette.title}}
                   {{recette.title|quantity: form.value.recettes}}x
                </span>
            </ul>
          </div>
    </li>
  </ul>  
</div>


<!-- ************************* -->
<!--   Display The JSON Title  -->
<!-- ************************* -->
<div style="margin-left: 75px; font-weight: bold;">
    Title : {{myDatabase.data.title})
    <br>
    Title : {{data.data.title})
</div>
