
<h1 style="margin-left: 200px;">Working With Angular & TypeScript !</h1>
<h1 style="margin-left: 200px;">Welcome to The 'Find Professional Workers' application</h1> 

<!-- *************************** -->
<!--  Import to Use This Format  -->
<!--          ONLY               -->
<!--  [menuItems] = "menuItems"  -->
<!--        NEVER USE            -->
<!--  menuItems="{{menuItems}}   -->
<!--        NEVER USE            -->
<!--  price = {{10}}             -->
<!-- *************************** -->

<!-- ************** -->
<!--  Version Rest  -->
<!-- ************** -->
<!-- 
    <app-menu [menuItems]="recettes.data"></app-menu>
    <app-main #mainComp [recettesItems]="recettes"></app-main>

        ****************************************
          TODO: calculer le prix Total
          en Utilizant la Liste de Données 
          du Formulaire du component 'app-main' 
         ***************************************

    <app-footer [price]="255.00"></app-footer> 
-->


<!-- ************************* -->
<!--  Version FindProfWorkers  -->
<!-- ************************* -->

<!-- 
    <app-menu [menuItems]="menuItems"></app-menu>
    <app-main></app-main>
    <app-footer [price]="255.00"></app-footer>  
-->

<app-login></app-login>

<!-- <app-form></app-form> -->
<!-- <app-profile-editor></app-profile-editor> -->
<!-- <app-form-control-editor></app-form-control-editor> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-name-editor></app-name-editor> -->
<!-- <app-login></app-login> -->
<!-- <app-profiles-list></app-profiles-list> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-licence-agreement></app-licence-agreement> -->

