
<h1>Working With Angular & TypeScript !</h1> 
<h1>The Angular Application Is Working :-)</h1>

<!-- *************************** -->
<!--  Import to Use This Format  -->
<!--          ONLY               -->
<!--  [menuItems] = "menuItems"  -->
<!--        NEVER USE            -->
<!--  menuItems="{{menuItems}}   -->
<!--        NEVER USE            -->
<!--  price = {{10}}             -->
<!-- *************************** -->

<!-- <app-menu [menuItems]="menuItems"></app-menu> -->
<!-- <app-main></app-main> -->
<!-- <app-footer [price]="255.00"></app-footer>  -->
<!-- <app-form></app-form> -->
<app-reactive-form></app-reactive-form>

