<h1 style="margin-left: 25px;">Profile-Editor Works !</h1>
<h1 style="margin-left: 25px;">Two Way Data Binding</h1>

<div formGroupName="address">
    <h2 style="margin-left: 25px; color:red; font-weight: bold;">Address</h2>
  
    <p style="margin-left: 35px;">
      <label style="font-weight: bold;" for="street">Street : </label>
      <input id="street" type="text" formControlName="street" size="35px">
      <br>
      <br>

      <label style="font-weight: bold;" for="city">City : </label>
      <input id="city" type="text" formControlName="city" size="45px">
      <br>
      <br>
    
      <label style="font-weight: bold;" for="state">State : </label>
      <input id="state" type="text" formControlName="state">
      <br>
      <br>
    
      <label style="font-weight: bold;" for="zip">Zip Code : </label>
      <input id="zip" type="text" formControlName="zip" size="10px">
      <br>
      <br>
  </p>
</div>