<h1 style="margin-left: 400px; font-size: 50px;">Invalid Page Works !</h1>

<table class="center">
    <tr>
        <td>
            <img src="./assets/data/images/invalid_page/invalid_page_01.png" alt="Invalid Page !">
            <img src="./assets/data/images/invalid_page/invalid_page_02.jpg" alt="Invalid Page !">
            <img src="./assets/data/images/invalid_page/invalid_page_01.png" alt="Invalid Page !">
            <img src="./assets/data/images/invalid_page/invalid_page_06.jpg" alt="Invalid Page !">
            <img src="./assets/data/images/invalid_page/invalid_page_03.jpg" alt="Invalid Page !">
            <img src="./assets/data/images/invalid_page/invalid_page_03.jpg" alt="Invalid Page !">
            <img src="./assets/data/images/invalid_page/invalid_page_06.jpg" alt="Invalid Page !">
        </td>
    </tr>
</table>
